# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django stuff:
*.log
*.pot
*.py[cod]
*.sqlite3
*.pkl

# Django migrations
**/migrations/**

# If your build process includes running collectstatic, this directory
# may need to be excluded:
staticfiles/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Testing
.tox/
.nox/

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
test_*.xml
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo

# Django stuff:
local_settings.py
db.sqlite3

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebooks
*.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/
.env
